<footer id="main-footer">
  <div class="containerWrapper">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <p class="footer-company mb-0">Stronics | Premium Online Marketplace</p>
      <p class="footer-cpy mb-0">
        &copy; <span id="year"></span> Stronics. All rights reserved.
      </p>
    </div>
  </div>
</footer>
