<% layout('layout') -%>
<div class="container mt-10">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="mb-0">Login to your account</h4>
        </div>
        <div class="card-body">
          <% if(message.length > 0) { %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
          </div>
          <% } %>
          <form action="" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" maxlength="15" />
              <small class="text-muted">Password should be 6 to 15 characters long</small>
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round">
              Login
            </button>
            <hr />
            <div class="text-center text-muted">
              Don't have an account? <a href="/signup">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
