<% layout('layout') -%>
<div class="container mt-10">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="mb-0">Create your account</h4>
        </div>
        <div class="card-body">
          <% if(errors.length > 0) { %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= errors %>
          </div>
          <% } %>
          <form action="" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" maxlength="15" />
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round">
              Create Account
            </button>
            <hr />
            <div class="text-center text-muted">
              Already have an account? <a href="/login">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
