<% layout('layout') -%>

<div class="containerWrapper mt-10">
  <div class="row">
    <div class="list-group w-100">
      <span class="list-group-item">
        <div class="row align-items-center">
          <div class="col-md-4 text-center">
            <img class="img-fluid" src="assets/payment-gateway.png" alt="" />
          </div>
          <div class="col-md-6">
            <h1 class="display-4 mb-0">Payment Gateway</h1>
            <p class="text-muted">Secure payment powered by Stripe</p>
          </div>
          <div class="col-md-2 text-center">
            <form action="/payment" method="POST">
              <script
                src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                name="stripeCurrency"
                data-key="<%= key %>"
                data-amount="<%= cartItems.total %>"
                data-currency="usd"
                data-description="Stronics"
                data-image="/assets/cart_logo.png"
                data-locale="auto"
              ></script>
            </form>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<script>
  $("#year").text(new Date().getFullYear());
</script>
